<!DOCTYPE html>
<html>
<head>
    <title>TravelMind AI</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
<div class="container">

<div class="card">
    <h1>✈️ TravelMind AI Planner</h1>
    <p>Multi-Agent Intelligent Travel Planning System</p>
</div>

<div class="card">
<form action="/plan" method="post">

<h2>Create Your Smart Trip</h2>

<label>Name</label>
<input type="text" name="name" required>

<label>Travel Needs</label>
<textarea name="needs" required
placeholder="budget, low walking, vegetarian, with parents..."></textarea>

<label>Destination</label>
<input type="text" name="destination" required>

<label>Days</label>
<input type="number" name="days" required>

<br>
<button class="button" type="submit">
Generate AI Travel Plan
</button>

</form>
</div>

</div>
</body>
</html>
